@import "tailwindcss";
@theme { 
   --color-dimblue: #E8F9FF; 
    --color-dimwhite: #D9EAFD;  
    --color-whitish: #F5F5F5;
    --color-darkBlue :#26BAEE;
    --font-display: "Roboto", "Poppins"; 
  }

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width:100vw
} */